{% extends "Layout/layout.html" %}

{% block main %}

<!-- TOPBAR - Included here for form purposes -->
<nav class="navbar navbar-expand navbar-light bg-white  mb-4 static-top shadow ">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <form class="search" method="post">

        <div class="input-group">
            <div>
            {{ searchForm.searchText(class="form-control bg-light border-0 small", placeholder="Search for...")  }}
            </div>

            <div>
            {{ searchForm.searchMethod(class="form-control bg-light border-0 small")  }}
            </div>

            <div>
            {{ searchForm.city(class="form-control bg-light border-0 small") }}
            </div>

            <div>
            {{ searchForm.acedemicDegree(class="form-control bg-light border-0 small") }}
            </div>

            <div class="input-group-append">
            {{ searchForm.submit(class="btn btn-primary") }}{{ searchForm.hidden_tag() }}
            </div>

        </div>
    </form>

    <!-- Topbar Navbar to Edit Profile or Logout -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                            placeholder="Search for..." aria-label="Search"
                            aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
        {% if 'logged_in' in session and session['logged_in'] == true %}

            <!-- Nav Item - Messages -->
            <nav class="topbar">
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-envelope fa-fw"></i>
                    <!-- Counter - Messages -->
                    <span class="badge badge-danger badge-counter">7</span>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                    aria-labelledby="messagesDropdown">
                    <h6 class="dropdown-header">
                        Message Center
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">

                            <img class="rounded-circle" src="{{ url_for('static',filename='img/undraw_profile_1.svg') }}"
                                alt="">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                            <div class="text-truncate">Irene liked your review about Politecnico di Torino</div>
                            <div class="small text-gray-500">Irene Fowler · 58m</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="{{ url_for('static',filename='img/undraw_profile_2.svg') }}"
                                alt="">
                            <div class="status-indicator"></div>
                        </div>
                        <div>
                            <div class="text-truncate">
                                Leonardo commented on your review about Politecnico di Torino
                            </div>
                            <div class="small text-gray-500">Leonardo Morris · 1d</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="{{ url_for('static',filename='img/undraw_profile_3.svg') }}"
                                alt="">
                            <div class="status-indicator bg-warning"></div>
                        </div>
                        <div>
                            <div class="text-truncate">
                                Tommaso commented on your review about Politecnico di Torino
                            </div>
                            <div class="small text-gray-500">Tommaso JP · 2d</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                alt="">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div>
                            <div class="text-truncate">Do you enjoy AppHello? Leave a review now!</div>
                            <div class="small text-gray-500">Odino Brigante · 2w</div>
                        </div>
                    </a>
                    <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                </div>
            </li>

            </nav>
            <!-- Nav Item - User Information -->
            <nav class="topbar">
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"> Howdy {{ session['first name'] }}</span>

                    <img class="img-profile rounded-circle"
                         src="{{ url_for('static',filename='img/undraw_profile.svg') }}"
                    >
                </a>



                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">
                        <a class="nav-link" href="{{ url_for('editProfile') }}">
                             <i class="fas fa-2x fa-user"></i>
                            Edit Profile
                        </a>

                    </a>

                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="#">
                        <a class="nav-link" href="{{ url_for('editProfile') }}">
                             <i class="fas fa-2x fa-cogs"></i>
                            My Reviews
                        </a>
                    </a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                             <a class="nav-link" href="{{ url_for('logout') }}">
                             <i class="fas fa-2x fa-sign-out-alt"></i>
                               Log Out
                             </a>
                    </a>

                </div>
            </li>
            </nav>
        {% else %}
            <span class="mr-2 d-none d-lg-inline text-gray-600 small"><a class="nav-link" href="{{ url_for('login') }}"> Please Log In</a></span>
        {% endif %}
    </ul>

</nav>
<!-- End of Topbar -->


<div class="container imi-joingform">

<!-- Start Edit Profile Form 2 -->

    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

    <div class="container rounded bg-white mt-5 mb-5">



        <div class="row">

            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt="img">
                    <span class="font-weight-bold">{{ session['first name'] }} {{ session['last name'] }}</span>
                    <span class="text-black-50"> {{ session['email'] }} </span>
                    <span class="text-gray-300">Your User id: {{ session['user_id'] }}</span>
                </div>

            </div>

            <div class="col-md-5 border-right">
                <form class="user" method="post">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Personal Information</h4>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-6"> <label class="labels">Name</label> {{ editProfileForm.firstName(class="form-control input", placeholder=dbUser.firstName)  }} </div>
                            <div class="col-md-6"> <label class="labels">Surname</label> {{ editProfileForm.lastName(class="form-control input", placeholder=dbUser.lastName)  }} </div>
                        </div>
                        {% for error in editProfileForm.firstName.errors %}
                                <div class="alert alert-danger" role="alert">First name: {{ error }}</div>
                        {% endfor  %}
                        {% for error in editProfileForm.lastName.errors %}
                                <div class="alert alert-danger" role="alert">Last name: {{ error }}</div>
                        {% endfor  %}

                        <div class="row mt-3">
                            <div class="col-md-12"> <label class="labels">Email</label> {{ editProfileForm.email(class="form-control input", placeholder=dbUser.email)  }} </div>
                            {% for error in editProfileForm.email.errors %}
                                <div class="alert alert-danger" role="alert">Email: {{ error }}</div>
                            {% endfor  %}

                            <div class="col-md-12"> <label class="labels">Highest Degree Obtained</label> {{ editProfileForm.highestDegreeObtained(class="form-control input", placeholder=dbUser.highestDegreeObtained)  }} </div>
                            {% for error in editProfileForm.highestDegreeObtained.errors %}
                                <div class="alert alert-danger" role="alert">highestDegreeObtained: {{ error }}</div>
                            {% endfor  %}

                            <div class="col-md-12"> <label class="labels">Current Institution</label> {{ editProfileForm.currentInstitution(class="form-control input", placeholder=dbUser.currentInstitution)  }} </div>
                            {% for error in editProfileForm.currentInstitution.errors %}
                                <div class="alert alert-danger" role="alert">currentInstitution: {{ error }}</div>
                            {% endfor  %}

                            <div class="col-md-12"> <label class="labels">City</label> {{ editProfileForm.city(class="form-control", placeholder=dbUser.city)  }} </div>
                            {% for error in editProfileForm.city.errors %}
                                <div class="alert alert-danger" role="alert">city: {{ error }}</div>
                            {% endfor  %}
                            <div class="form-group">

                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-6"><label class="labels">State/Region</label>{{ editProfileForm.stateRegion(class="form-control input",placeholder=dbUser.stateRegion)  }} </div>
                            <div class="col-md-6"><label class="labels">Country</label>{{ editProfileForm.country(class="form-control input",placeholder=dbUser.country)  }}</div>
                        </div>

                        <div class="mt-5 text-center">
                        {{ editProfileForm.submit(class="btn btn-primary") }}{{ editProfileForm.hidden_tag() }}
                        </div>
                    </div>
                </form>
            </div>



            <div class="col-md-3">
                 <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">My Reviews</h4>
                    </div>
                           {% for x in listReviews[:5] %}
                                 <div class="row">
                                    <div class="row mt-3">
                                        <div class="col-md-12"> University: {{ x.idUniversity }}</div>
                                        <div class="col-md-12" style="color: darkgreen">Review Number: {{ x.idReview }}</div><br><br>
                                        <div class="col-md-12" style="font-weight: bold">{{ x.reviewTitle }}</div>
                                        <div class="col-md-12">{{ x.review[:105] }}...</div>

                                    </div>
                                 </div>
                            {% endfor %}
                             <br>

                            <button data-toggle="collapse" data-target="#demo" class="btn btn-primary">Show more Reviews</button><br><br><br>
                            <div id="demo" class="collapse"><br>

                                {% for x in listReviews[5:] %}
                                    <div class="col-md-12"> University: {{ x.idUniversity }}</div>
                                    <div class="col-md-12" style="color: darkgreen">Review Number: {{ x.idReview }}</div><br>
                                    <div class="col-md-12" style="font-weight: bold">{{ x.reviewTitle }}</div>
                                    <div class="col-md-12">{{ x.review[:105] }}...</div><br>
                                {% endfor %}

                            </div>
                    <form class="search" method="post">
                            <div class="row">
                                <div class="col-md-12">Delete Review</div><br><br>
                                <div class="col-md-12">{{ deleteReviewForm.reviews(class="form-control input") }}</div><br><br><br>
                                <div class="col-md-12">{{ deleteReviewForm.submit(class="btn btn-primary") }}{{ deleteReviewForm.hidden_tag() }}<div>
                            </div>
                    </form>
                </div>

            </div>

        </div>

    </div>
</div>

{% endblock main %}