{% extends "Layout/layout.html" %}

{% block main %}
<!-- TOPBAR - Included here for form purposes -->
<nav class="navbar navbar-expand navbar-light bg-white  mb-4 static-top shadow ">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <form class="search" method="post">

        <div class="input-group">
            <div>
            {{ searchForm.searchText(class="form-control bg-light border-0 small", placeholder="Search for...")  }}
            </div>

            <div>
            {{ searchForm.searchMethod(class="form-control bg-light border-0 small")  }}
            </div>

            <div>
            {{ searchForm.city(class="form-control bg-light border-0 small") }}
            </div>

            <div>
            {{ searchForm.acedemicDegree(class="form-control bg-light border-0 small") }}
            </div>

            <div class="input-group-append">
            {{ searchForm.submit(class="btn btn-primary") }}
                {{ searchForm.hidden_tag() }}
            </div>
        </div>

    </form>

    <!-- Topbar Navbar to Edit Profile or Logout -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                            placeholder="Search for..." aria-label="Search"
                            aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>


        <nav class="topbar">
        <!-- Nav Item - Messages -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">7</span>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                    Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">

                        <img class="rounded-circle" src="{{ url_for('static',filename='img/undraw_profile_1.svg') }}"
                            alt="">
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div class="font-weight-bold">
                        <div class="text-truncate">Irene liked your review about Politecnico di Torino</div>
                        <div class="small text-gray-500">Irene Fowler · 58m</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="{{ url_for('static',filename='img/undraw_profile_2.svg') }}"
                            alt="">
                        <div class="status-indicator"></div>
                    </div>
                    <div>
                        <div class="text-truncate">
                            Leonardo commented on your review about Politecnico di Torino
                        </div>
                        <div class="small text-gray-500">Leonardo Morris · 1d</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="{{ url_for('static',filename='img/undraw_profile_3.svg') }}"
                            alt="">
                        <div class="status-indicator bg-warning"></div>
                    </div>
                    <div>
                        <div class="text-truncate">
                            Tommaso commented on your review about Politecnico di Torino
                        </div>
                        <div class="small text-gray-500">Tommaso JP · 2d</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                            alt="">
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div>
                        <div class="text-truncate">Do you enjoy AppHello? Leave a review now!</div>
                        <div class="small text-gray-500">Odino Brigante · 2w</div>
                    </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
            </div>
        </li>

        </nav>
        <!-- Nav Item - User Information -->
        <nav class="topbar">
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if 'logged_in' in session and session['logged_in'] == true:%}
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ session['first name'] }}</span>
                {% else %}
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Please Log In</span>
                {% endif %}

                <img class="img-profile rounded-circle"
                     src="{{ url_for('static',filename='img/undraw_profile.svg') }}"
                >
            </a>

            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                    <a class="nav-link" href="{{ url_for('editProfile', city=city, academicDegree=academicDegree, university=university, program=program, exam = exam, searchMethod=searchMethod) }}">
                         <i class="fas fa-fw fa-user"></i>
                    <span>Edit Profile</span>
                    </a>

                    <!--
                    working url for editProfile
                     http://127.0.0.1:5000/editProfile/All/%25/102/null/null/%20Program?
                    -->
                </a>
                <a class="dropdown-item" href="#">
                    <a class="nav-link" href="{{ url_for('editProfile', city=city, academicDegree=academicDegree, university=university, program=program, exam = exam, searchMethod=searchMethod) }}">
                         <i class="fas fa-fw fa-cogs"></i>
                    <span>My Reviews</span>
                    </a>
                </a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                         <a class="nav-link" href="{{ url_for('login') }}">
                         <i class="fas fa-fw fa-sign-out-alt"></i>
                            <span>Log Out</span>
                         </a>
                </a>

            </div>
        </li>
        </nav>

    </ul>

</nav>
<!-- End of Topbar -->

<body>

<div class="container imi-joingform">


  <!-- Start Header -->

  <div class="imc-jfheader">
     <!-- <i class="fas fa-user-graduate fa-7x align-items-center"></i> -->
        se riusciamo, inseriamo header di resultpage. Casini con variabili da render se hardcopied, da rivedere

      </div>
 <!-- -->

<!-- Start Joining Form -->

<!-- Start row -->

  <div class="row">
  <div class="col-md-12">

    <!-- Start accordion -->
                    <div id="accordion" class="">
                    <form method="post">
                      <!-- Start First collapse Pofile Pic -->
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >

                               <div class="row">
                                        <div class="col-12 col-lg-12 text-center">
                                            <h4 class="checkout-step-title"> <a role="button"> Leave Review </a></h4>
                                            <p> Your honest opinion helps other students. We do not share any data with institutions or companies without your permission.</p>

                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-12 col-lg-12 text-center d-none d-sm-block d-md-block d-lg-block d-xl-block">
                                            <button id="nextBtn" name="nextBtn" class="btn btn-default imc-jfeditbtn"><i class="fa fa-angle-double-down"></i></button>
                                        </div>

                                </div>

                            </div>
                            <div id="collapseOne">

                              <!-- Start collapse body -->

                                <div class="checkout-step-body">

                                  <!-- Start row -->

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="">

                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        Review Title (20-500 char)
                                                        {{ reviewForm.ReviewTitle(class="form-control input", placeholder="What would you highlight?")  }}

                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <!-- End row -->

                                    <!-- Start row -->

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        Your Review (500 char max)
                                                        {{ reviewForm.Review(class="form-control input-lg", placeholder="What is your opnion about this University? How and what did you like this Unviersity and what would you recomment about it?...")  }}

                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <!-- End row -->

                                    <!-- Start row -->

                                    <div class="row">

                                        <div class="col-lg-12">
                                            <div class="">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        Your Overall Rating
                                                        <div id="full-stars-example-two">
                                                            <div class="rating-group">
                                                                <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="0" type="radio">
                                                                <label aria-label="1 star" class="rating__label" for="rating3-1"><i class="rating__icon rating__icon--star fa fa-graduation-cap"></i></label>
                                                                <input class="rating__input" name="rating3" id="rating3-1" value="1" type="radio">
                                                                <label aria-label="2 stars" class="rating__label" for="rating3-2"><i class="rating__icon rating__icon--star fa fa-graduation-cap"></i></label>
                                                                <input class="rating__input" name="rating3" id="rating3-2" value="2" type="radio">
                                                                <label aria-label="3 stars" class="rating__label" for="rating3-3"><i class="rating__icon rating__icon--star fa fa-graduation-cap"></i></label>
                                                                <input class="rating__input" name="rating3" id="rating3-3" value="3" type="radio">
                                                                <label aria-label="4 stars" class="rating__label" for="rating3-4"><i class="rating__icon rating__icon--star fa fa-graduation-cap"></i></label>
                                                                <input class="rating__input" name="rating3" id="rating3-4" value="4" type="radio">
                                                                <label aria-label="5 stars" class="rating__label" for="rating3-5"><i class="rating__icon rating__icon--star fa fa-graduation-cap"></i></label>
                                                                <input class="rating__input" name="rating3" id="rating3-5" value="5" type="radio">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                     <!-- End row -->


 <!-- Start row // This was supposed to be the star rating with Flask Form. Since Flask Form is not able to render the html needed,
                    I am passing the rate as a separate variable in the url for. Leaving my attepts here for reference.

                                    <div class="row">

                                        <div class="col-lg-4">
                                            <div class="">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <div id="full-stars-example-two">
                                                            <div class="rating-group">
                                                                { % for subfield in reviewForm.radioStar %}
                                                                { { subfield() }}
                                                                    <i class="rating__icon rating__icon--star fa fa-graduation-cap"></i>
                                                                { % endfor %}
                                                                <br>
                                                                <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="0" type="radio">
                                                                <label aria-label="1 star" class="rating__label" for="rating3-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                                <input class="rating__input" name="rating3" id="rating3-1" value="1" type="radio">
                                                                <label aria-label="2 stars" class="rating__label" for="rating3-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                                <input class="rating__input" name="rating3" id="rating3-2" value="2" type="radio">
                                                                <label aria-label="3 stars" class="rating__label" for="rating3-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                                <input class="rating__input" name="rating3" id="rating3-3" value="3" type="radio">
                                                                <label aria-label="4 stars" class="rating__label" for="rating3-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                                <input class="rating__input" name="rating3" id="rating3-4" value="4" type="radio">
                                                                <label aria-label="5 stars" class="rating__label" for="rating3-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                                <input class="rating__input" name="rating3" id="rating3-5" value="5" type="radio">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                      End row -->



                                    <!-- Start  row -->

                                    <div class="row">
                                        <div class="col-lg-12 text-center">

                                            <label for="defaultCheck1">I accept Apphello terms and conditions</label>
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" required="">


                                        </div>
                                    </div>

                                    <!-- End + row -->
                                    <!-- Start button row -->

                                    <div class="row">

                                      <div class="col-lg-4"></div>
                                      <div class="col-lg-4"></div>
                                      <div class="col-lg-4 text-right">
                                        <div class="form-group">
                                                    <div class="col-md-12">
                                                        {{ reviewForm.submit(class="btn btn-primary")}}
                                                        {{ reviewForm.hidden_tag() }}
                                                    </div>
                                        </div>
                                      </div>
                                    </div>

                                    <!-- End button row -->

                                </div>
                                <!-- End collapse body -->
                            </div>
                        </div>

                        <!-- End First collapse -->


                    </form>
                    </div>
                    <!-- End accordion -->
  </div>
  </div>
  <!-- End row -->

<!-- End Joining Form -->


</div>



  <!-- Start review modal -->

  <div class="modal fade imi-reviewModal" id="reviewModal">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Reviews</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">

<!-- Start Personal Details Reviews -->

              <div class="row imi-jfreview-heading">
                                        <div class="col-10 col-lg-10">
                                             <span class="checkout-step-number">1</span>
                                <h4 class="checkout-step-title"> <a role="button"> Personal Details</a></h4>
                                        </div>

                                        <div class="col-2 col-lg-2 text-right d-none d-sm-block d-md-block d-lg-block d-xl-block">
                                            <button id="nextBtn" name="nextBtn" class="btn btn-default imc-jfeditbtn">Edit <i class="fa fa-edit"></i></button>
                                        </div>

                                         <div class="col-2 col-lg-2 text-right d-md-none d-lg-none">
                                            <button id="nextBtn" name="nextBtn" class="btn btn-default imc-jfeditbtn"><i class="fa fa-edit"></i></button>
                                        </div>
                </div>

             <div class="row">

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Name : </strong></label>
                        <label class="control-label" for="name">Shyam Manohar Sanjul</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Gender : </strong></label>
                        <label class="control-label" for="name">Male</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Dob : </strong></label>
                        <label class="control-label" for="name">10 Nov 1993</label>
                    </div>
                </div>

             </div>

             <div class="row">

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Mobile No : </strong></label>
                        <label class="control-label" for="name">9576116054</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Email Id : </strong></label>
                        <label class="control-label" for="name">shyam.manohar.sanjul@gmail.com</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Address : </strong></label>
                        <label class="control-label" for="name">Btm 1st stage bangalore, karnataka</label>
                    </div>
                </div>

             </div>

                  <div class="row">

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Name : </strong></label>
                        <label class="control-label" for="name">Shyam Manohar Sanjul</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Gender : </strong></label>
                        <label class="control-label" for="name">Male</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Dob : </strong></label>
                        <label class="control-label" for="name">10 Nov 1993</label>
                    </div>
                </div>

             </div>

             <div class="row">

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Mobile No : </strong></label>
                        <label class="control-label" for="name">9576116054</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Email Id : </strong></label>
                        <label class="control-label" for="name">shyam.manohar.sanjul@gmail.com</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Address : </strong></label>
                        <label class="control-label" for="name">Btm 1st stage bangalore, karnataka</label>
                    </div>
                </div>

             </div>







<!-- End Personal Details Reviews -->


<!-- Start Professional Details Reviews -->

              <div class="row imi-jfreview-heading">
                                        <div class="col-10 col-lg-10">
                                             <span class="checkout-step-number">2</span>
                                <h4 class="checkout-step-title"> <a role="button"> Professional Details</a></h4>
                                        </div>

                                        <div class="col-2 col-lg-2 text-right d-none d-sm-block d-md-block d-lg-block d-xl-block">
                                            <button id="nextBtn" name="nextBtn" class="btn btn-default imc-jfeditbtn">Edit <i class="fa fa-edit"></i></button>
                                        </div>

                                         <div class="col-2 col-lg-2 text-right d-md-none d-lg-none">
                                            <button id="nextBtn" name="nextBtn" class="btn btn-default imc-jfeditbtn"><i class="fa fa-edit"></i></button>
                                        </div>
                </div>

             <div class="row">

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Name : </strong></label>
                        <label class="control-label" for="name">Shyam Manohar Sanjul</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Gender : </strong></label>
                        <label class="control-label" for="name">Male</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Dob : </strong></label>
                        <label class="control-label" for="name">10 Nov 1993</label>
                    </div>
                </div>

             </div>

             <div class="row">

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Mobile No : </strong></label>
                        <label class="control-label" for="name">9576116054</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Email Id : </strong></label>
                        <label class="control-label" for="name">shyam.manohar.sanjul@gmail.com</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Address : </strong></label>
                        <label class="control-label" for="name">Btm 1st stage bangalore, karnataka</label>
                    </div>
                </div>

             </div>

                  <div class="row">

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Name : </strong></label>
                        <label class="control-label" for="name">Shyam Manohar Sanjul</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Gender : </strong></label>
                        <label class="control-label" for="name">Male</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Dob : </strong></label>
                        <label class="control-label" for="name">10 Nov 1993</label>
                    </div>
                </div>

             </div>

             <div class="row">

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Mobile No : </strong></label>
                        <label class="control-label" for="name">9576116054</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Email Id : </strong></label>
                        <label class="control-label" for="name">shyam.manohar.sanjul@gmail.com</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Address : </strong></label>
                        <label class="control-label" for="name">Btm 1st stage bangalore, karnataka</label>
                    </div>
                </div>

             </div>


<!-- End Professional Details Reviews -->


<!-- Start Educational Details Reviews -->

              <div class="row imi-jfreview-heading">
                                        <div class="col-10 col-lg-10">
                                             <span class="checkout-step-number">3</span>
                                <h4 class="checkout-step-title"> <a role="button"> Educational Details</a></h4>
                                        </div>

                                        <div class="col-2 col-lg-2 text-right d-none d-sm-block d-md-block d-lg-block d-xl-block">
                                            <button id="nextBtn" name="nextBtn" class="btn btn-default imc-jfeditbtn">Edit <i class="fa fa-edit"></i></button>
                                        </div>

                                         <div class="col-2 col-lg-2 text-right d-md-none d-lg-none">
                                            <button id="nextBtn" name="nextBtn" class="btn btn-default imc-jfeditbtn"><i class="fa fa-edit"></i></button>
                                        </div>
                </div>

             <div class="row">

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Name : </strong></label>
                        <label class="control-label" for="name">Shyam Manohar Sanjul</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Gender : </strong></label>
                        <label class="control-label" for="name">Male</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Dob : </strong></label>
                        <label class="control-label" for="name">10 Nov 1993</label>
                    </div>
                </div>

             </div>

             <div class="row">

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Mobile No : </strong></label>
                        <label class="control-label" for="name">9576116054</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Email Id : </strong></label>
                        <label class="control-label" for="name">shyam.manohar.sanjul@gmail.com</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Address : </strong></label>
                        <label class="control-label" for="name">Btm 1st stage bangalore, karnataka</label>
                    </div>
                </div>

             </div>

                  <div class="row">

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Name : </strong></label>
                        <label class="control-label" for="name">Shyam Manohar Sanjul</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Gender : </strong></label>
                        <label class="control-label" for="name">Male</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Dob : </strong></label>
                        <label class="control-label" for="name">10 Nov 1993</label>
                    </div>
                </div>

             </div>

             <div class="row">

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Mobile No : </strong></label>
                        <label class="control-label" for="name">9576116054</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Email Id : </strong></label>
                        <label class="control-label" for="name">shyam.manohar.sanjul@gmail.com</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Address : </strong></label>
                        <label class="control-label" for="name">Btm 1st stage bangalore, karnataka</label>
                    </div>
                </div>

             </div>


<!-- End Educational Details Reviews -->




<!-- Start Nominee Details Reviews -->

              <div class="row imi-jfreview-heading">
                                        <div class="col-10 col-lg-10">
                                             <span class="checkout-step-number">4</span>
                                <h4 class="checkout-step-title"> <a role="button"> Nominee Details</a></h4>
                                        </div>

                                        <div class="col-2 col-lg-2 text-right d-none d-sm-block d-md-block d-lg-block d-xl-block">
                                            <button id="nextBtn" name="nextBtn" class="btn btn-default imc-jfeditbtn">Edit <i class="fa fa-edit"></i></button>
                                        </div>

                                         <div class="col-2 col-lg-2 text-right d-md-none d-lg-none">
                                            <button id="nextBtn" name="nextBtn" class="btn btn-default imc-jfeditbtn"><i class="fa fa-edit"></i></button>
                                        </div>
                </div>

             <div class="row">

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Name : </strong></label>
                        <label class="control-label" for="name">Shyam Manohar Sanjul</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Gender : </strong></label>
                        <label class="control-label" for="name">Male</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Dob : </strong></label>
                        <label class="control-label" for="name">10 Nov 1993</label>
                    </div>
                </div>

             </div>

             <div class="row">

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Mobile No : </strong></label>
                        <label class="control-label" for="name">9576116054</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Email Id : </strong></label>
                        <label class="control-label" for="name">shyam.manohar.sanjul@gmail.com</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Address : </strong></label>
                        <label class="control-label" for="name">Btm 1st stage bangalore, karnataka</label>
                    </div>
                </div>

             </div>

                  <div class="row">

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Name : </strong></label>
                        <label class="control-label" for="name">Shyam Manohar Sanjul</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Gender : </strong></label>
                        <label class="control-label" for="name">Male</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Dob : </strong></label>
                        <label class="control-label" for="name">10 Nov 1993</label>
                    </div>
                </div>

             </div>

             <div class="row">

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Mobile No : </strong></label>
                        <label class="control-label" for="name">9576116054</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Email Id : </strong></label>
                        <label class="control-label" for="name">shyam.manohar.sanjul@gmail.com</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Address : </strong></label>
                        <label class="control-label" for="name">Btm 1st stage bangalore, karnataka</label>
                    </div>
                </div>

             </div>


<!-- End Nominee Details Reviews -->




<!-- Start Documents Details Reviews -->

              <div class="row imi-jfreview-heading">
                                        <div class="col-10 col-lg-10">
                                             <span class="checkout-step-number">5</span>
                                <h4 class="checkout-step-title"> <a role="button"> Documents Details</a></h4>
                                        </div>

                                        <div class="col-2 col-lg-2 text-right d-none d-sm-block d-md-block d-lg-block d-xl-block">
                                            <button id="nextBtn" name="nextBtn" class="btn btn-default imc-jfeditbtn">Edit <i class="fa fa-edit"></i></button>
                                        </div>

                                         <div class="col-2 col-lg-2 text-right d-md-none d-lg-none">
                                            <button id="nextBtn" name="nextBtn" class="btn btn-default imc-jfeditbtn"><i class="fa fa-edit"></i></button>
                                        </div>
                </div>

             <div class="row">

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Name : </strong></label>
                        <label class="control-label" for="name">Shyam Manohar Sanjul</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Gender : </strong></label>
                        <label class="control-label" for="name">Male</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Dob : </strong></label>
                        <label class="control-label" for="name">10 Nov 1993</label>
                    </div>
                </div>

             </div>

             <div class="row">

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Mobile No : </strong></label>
                        <label class="control-label" for="name">9576116054</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Email Id : </strong></label>
                        <label class="control-label" for="name">shyam.manohar.sanjul@gmail.com</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Address : </strong></label>
                        <label class="control-label" for="name">Btm 1st stage bangalore, karnataka</label>
                    </div>
                </div>

             </div>

                  <div class="row">

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Name : </strong></label>
                        <label class="control-label" for="name">Shyam Manohar Sanjul</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Gender : </strong></label>
                        <label class="control-label" for="name">Male</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Dob : </strong></label>
                        <label class="control-label" for="name">10 Nov 1993</label>
                    </div>
                </div>

             </div>

             <div class="row">

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Mobile No : </strong></label>
                        <label class="control-label" for="name">9576116054</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Email Id : </strong></label>
                        <label class="control-label" for="name">shyam.manohar.sanjul@gmail.com</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="imc-jfreviewlabel">
                        <label class="control-label" for="name"><strong>Address : </strong></label>
                        <label class="control-label" for="name">Btm 1st stage bangalore, karnataka</label>
                    </div>
                </div>

             </div>


<!-- End Documents Details Reviews -->


        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Print</button>
          <button type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

  <!-- End review modal -->

</body>
</html>



</body>

</html>
{% endblock main %}