{% extends "Layout/layout.html" %}

{% block main %}
<!-- TOPBAR - Included here for form purposes -->
<nav class="navbar navbar-expand navbar-light bg-white  mb-4 static-top shadow ">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <form class="search" method="post">

        <div class="input-group">
            <div>
            {{ searchForm.searchText(class="form-control bg-light border-0 small", placeholder="Search for...")  }}
            </div>

            <div>
            {{ searchForm.searchMethod(class="form-control bg-light border-0 small")  }}
            </div>

            <div>
            {{ searchForm.city(class="form-control bg-light border-0 small") }}
            </div>

            <div>
            {{ searchForm.acedemicDegree(class="form-control bg-light border-0 small") }}
            </div>

            <div class="input-group-append">
            {{ searchForm.submit(class="btn btn-primary") }}{{ searchForm.hidden_tag() }}
            </div>

        </div>
    </form>

    <!-- Topbar Navbar to Edit Profile or Logout -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                            placeholder="Search for..." aria-label="Search"
                            aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>

        {% if 'logged_in' in session and session['logged_in'] == true %}

            <!-- Nav Item - Messages -->
            <nav class="topbar">
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-envelope fa-fw"></i>
                    <!-- Counter - Messages -->
                    <span class="badge badge-danger badge-counter">7</span>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                    aria-labelledby="messagesDropdown">
                    <h6 class="dropdown-header">
                        Message Center
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">

                            <img class="rounded-circle" src="{{ url_for('static',filename='img/undraw_profile_1.svg') }}"
                                alt="">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                            <div class="text-truncate">Irene liked your review about Politecnico di Torino</div>
                            <div class="small text-gray-500">Irene Fowler · 58m</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="{{ url_for('static',filename='img/undraw_profile_2.svg') }}"
                                alt="">
                            <div class="status-indicator"></div>
                        </div>
                        <div>
                            <div class="text-truncate">
                                Leonardo commented on your review about Politecnico di Torino
                            </div>
                            <div class="small text-gray-500">Leonardo Morris · 1d</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="{{ url_for('static',filename='img/undraw_profile_3.svg') }}"
                                alt="">
                            <div class="status-indicator bg-warning"></div>
                        </div>
                        <div>
                            <div class="text-truncate">
                                Tommaso commented on your review about Politecnico di Torino
                            </div>
                            <div class="small text-gray-500">Tommaso JP · 2d</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                alt="">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div>
                            <div class="text-truncate">Do you enjoy AppHello? Leave a review now!</div>
                            <div class="small text-gray-500">Odino Brigante · 2w</div>
                        </div>
                    </a>
                    <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                </div>
            </li>

            </nav>
            <!-- Nav Item - User Information -->
            <nav class="topbar">
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"> Howdy {{ session['first name'] }}</span>

                    <img class="img-profile rounded-circle"
                         src="{{ url_for('static',filename='img/undraw_profile.svg') }}"
                    >
                </a>



                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">
                        <a class="nav-link" href="{{ url_for('editProfile') }}">
                             <i class="fas fa-2x fa-user"></i>
                            Edit Profile
                        </a>
                    </a>

                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="#">
                        <a class="nav-link" href="{{ url_for('editProfile') }}">
                             <i class="fas fa-2x fa-cogs"></i>
                            My Reviews
                        </a>
                    </a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                             <a class="nav-link" href="{{ url_for('logout') }}">
                             <i class="fas fa-2x fa-sign-out-alt"></i>
                               Log Out
                             </a>
                    </a>

                </div>
            </li>
            </nav>
        {% else %}
             <span class="mr-2 d-none d-lg-inline text-gray-600 small"><a class="nav-link" href="{{ url_for('login') }}"> Please Log In</a></span>
        {% endif %}
    </ul>
</nav>
<!-- End of Topbar -->


<div class="container imi-joingform">
  <div class="imc-jfheader">

     <!-- Result Page - Information regarding the choice made -->
     <div>
         <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-body">

                    <div style="display: flex">
                        {%if university_object != "null" %}
                            <div class="col-xl-2 col-lg-7">
                                <p><img class="logo" src="{{university_object[0].staticLogo}}"></p>
                                {%if exam != "null" %}
                                    <p style="font-style: italic; font-size: smaller">Focus Choice: Exam</p>
                                {%elif program != "null" %}
                                    <p style="font-style: italic; font-size: smaller">Focus Choice: Program</p>
                                {% endif %}
                            </div>

                            <div class="col-xl-5 col-lg-7">

                                 <p style="font-style: italic; font-weight: bold; font-size: larger"> {{ university_object[0].name }}</p>

                                    {%if program != "null" %}
                                        <p style="font-style: italic; font-weight: bold; font-size: smaller">{{ program }}</p>

                                        {%if exam != "null" %}
                                            <p style="font-style: italic; font-weight: bold; font-size: smaller">{{ exam }}</p>
                                        {% endif %}

                                    {% endif %}

                                    {%if program == "null" %}
                                        {%if exam != "null" %}
                                            <p style="font-style: italic; font-weight: bold; font-size: larger; text-align: center">{{ exam }}</p>
                                            <p style="font-style: italic; font-size: medium; text-align: center">(EXAM)</p>
                                        {% endif %}
                                    {% endif %}

                                {% if university_object[0].state != None %}
                                    <p>State: {{ university_object[0].state }}</p>
                                {% endif %}
                                {% if university_object[0].state == None %}
                                    <p>State: Information Not Available</p>
                                {% endif %}

                                {% if university_object[0].region != None %}
                                    <p>Region: {{ university_object[0].region }}</p>
                                {% endif %}
                                {% if university_object[0].region == None %}
                                    <p>Region: Information Not Available</p>
                                {% endif %}

                                {% if university_object[0].address != None %}
                                    <p>Address: {{ university_object[0].address }}</p>
                                {% endif %}
                                {% if university_object[0].address == None %}
                                    <p>Address: Information Not Available</p>
                                {% endif %}

                            </div>

                            <div class="col-xl-5 col-lg-7">

                                {% if university_object[0].Cap != None %}
                                    <p>CAP: {{ university_object[0].Cap }}</p>
                                {% endif %}
                                {% if university_object[0].Cap == None %}
                                    <p>CAP: Information Not Available</p>
                                {% endif %}

                                {% if university_object[0].Tel != None %}
                                    <p>{{ university_object[0].Tel }}</p>
                                {% endif %}
                                {% if university_object[0].Tel == None %}
                                    <p>Tel: Information Not Available</p>
                                {% endif %}

                                {% if university_object[0].Fax != None %}
                                    <p> {{ university_object[0].Fax }}</p>
                                {% endif %}
                                {% if university_object[0].Fax == None %}
                                    <p>FAX: Information Not Available</p>
                                {% endif %}

                                {% if university_object[0].website != None %}
                                    <a href="{{ university_object[0].website }}">Website</a>
                                {% endif %}
                                {% if university_object[0].website == None %}
                                    <p>Website: Information Not Available</p>
                                {% endif %}

                            </div>
                        {% endif %}
                    </div>
                    <div>

                        {%if university == "null" %}
                            {%if program != "null" %}
                                <p style="font-style: italic; font-weight: bold; font-size: larger; text-align: center">{{ program }}</p>

                                {%if exam != "null" %}
                                    <p style="font-style: italic; font-weight: bold; font-size: larger; text-align: center">{{ exam }}</p>
                                    <p style="font-style: italic; font-size: medium; text-align: center">(EXAM)</p>
                                {% endif %}

                                {%if exam == "null" %}
                                    <p style="font-style: italic; font-size: medium; text-align: center">(Degree Course)</p>
                                {% endif %}
                            {% endif %}

                            {%if program == "null" %}
                                {%if exam != "null" %}
                                    <p style="font-style: italic; font-weight: bold; font-size: larger; text-align: center">{{ exam }}</p>
                                    <p style="font-style: italic; font-size: medium; text-align: center">(EXAM)</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}

                    </div>
                    </div>
                </div>
            </div>
         </div>
     </div>



  </div>
 <!-- -->

<!-- Start Joining Form -->

<!-- Start row -->

  <div class="row">
  <div class="col-md-12">

    <!-- Start accordion -->
                    <div id="accordion" class="">
                    <form method="post">
                      <!-- Start First collapse Pofile Pic -->
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >

                               <div class="row">
                                        <div class="col-12 col-lg-12 text-center">
                                            <h4 class="checkout-step-title"> <a role="button"> Leave Review </a></h4>
                                            <p> Your honest opinion helps other students. We do not share any data with institutions or companies without your permission.</p>

                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-12 col-lg-12 text-center d-none d-sm-block d-md-block d-lg-block d-xl-block">
                                            <button id="nextBtn" name="nextBtn" class="btn btn-default imc-jfeditbtn"><i class="fa fa-angle-double-down"></i></button>
                                        </div>

                                </div>

                            </div>
                            <div id="collapseOne">

                              <!-- Start collapse body -->

                                <div class="checkout-step-body">

                                  <!-- Start row -->

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="">

                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        Review Title (20-500 char)
                                                        {{ reviewForm.ReviewTitle(class="form-control input", placeholder="What would you highlight?")  }}

                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <!-- End row -->

                                    <!-- Start row -->

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        Your Review (500 char max)
                                                        {{ reviewForm.Review(class="form-control input-lg", placeholder="What is your opnion about this University? How and what did you like this Unviersity and what would you recomment about it?...")  }}

                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <!-- End row -->

                                    <!-- Start row -->
                                    <!-- source https://codepen.io/andreacrawford/pen/NvqJXW?editors=1100 -->
                                    <div class="row">

                                        <div class="col-lg-12">
                                            <div class="">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        Your Overall Rating


                                                        <div>
                                                        <div id="full-stars-example-two">
                                                            <div class="rating-group">
                                                            {% for subfield in reviewForm.starRating %}
                                                                <tr>

                                                                    <label class="rating__label">{{ subfield}}<i class="rating__icon rating__icon--star fa fa-graduation-cap"></i></label>
                                                                    <td>{{ subfield.label }}</td>

                                                                </tr>
                                                            {% endfor %}
                                                            </div>
                                                        </div>
                                                        </div>


                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                     <!-- End row -->

                                    <!-- Start  row -->

                                    <div class="row">
                                        <div class="col-lg-12 text-center">

                                            <label for="defaultCheck1">I accept Apphello terms and conditions</label>
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" required="">


                                        </div>
                                    </div>

                                    <!-- End + row -->
                                    <!-- Start button row -->

                                    <div class="row">

                                      <div class="col-lg-4"></div>
                                      <div class="col-lg-4"></div>
                                      <div class="col-lg-4 text-right">
                                        <div class="form-group">
                                                    <div class="col-md-12">
                                                        {{ reviewForm.submit(class="btn btn-primary")}}
                                                        {{ reviewForm.hidden_tag() }}
                                                    </div>
                                        </div>
                                      </div>
                                    </div>

                                    <!-- End button row -->

                                </div>
                                <!-- End collapse body -->
                            </div>
                        </div>

                        <!-- End First collapse -->
                          {% for field, errors in reviewForm.errors.iteritems() %}
                              <div class="alert alert-error">
                                  <span class="text-danger">   {{ reviewForm[field].label }}: {{ ', '.join(errors) }}</span>
                              </div>
                          {% endfor %}

                    </form>
                    </div>
                    <!-- End accordion -->
  </div>
  </div>
  <!-- End row -->

<!-- End Joining Form -->


</div>


{% endblock main %}