{% extends "Layout/layout.html" %}

{% block main %}
<!-- TOPBAR - Included here for form purposes -->
<nav class="navbar navbar-expand navbar-light bg-white  mb-4 static-top shadow ">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <form class="search" method="post">

        <div class="input-group">
            <div>
            {{ searchForm.searchText(class="form-control bg-light border-0 small", placeholder="Search for...")  }}
            </div>

            <div>
            {{ searchForm.searchMethod(class="form-control bg-light border-0 small")  }}
            </div>

            <div>
            {{ searchForm.city(class="form-control bg-light border-0 small") }}
            </div>

            <div>
            {{ searchForm.acedemicDegree(class="form-control bg-light border-0 small") }}
            </div>

            <div class="input-group-append">
            {{ searchForm.submit(class="btn btn-primary") }}{{ searchForm.hidden_tag() }}
            </div>

        </div>


            {% for field, errors in searchForm.errors.iteritems() %}
                <div class="alert alert-error">
                 <span class="text-danger">   {{ searchForm[field].label }}: {{ ', '.join(errors) }}</span></br>
                </div>
            {% endfor %}
    </form>

    <!-- Topbar Navbar to Edit Profile or Logout -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                            placeholder="Search for..." aria-label="Search"
                            aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
  {% if 'logged_in' in session and session['logged_in'] == true %}

        <!-- Nav Item - Messages -->
        <nav class="topbar">
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">7</span>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                    Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">

                        <img class="rounded-circle" src="{{ url_for('static',filename='img/undraw_profile_1.svg') }}"
                            alt="">
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div class="font-weight-bold">
                        <div class="text-truncate">Irene liked your review about Politecnico di Torino</div>
                        <div class="small text-gray-500">Irene Fowler · 58m</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="{{ url_for('static',filename='img/undraw_profile_2.svg') }}"
                            alt="">
                        <div class="status-indicator"></div>
                    </div>
                    <div>
                        <div class="text-truncate">
                            Leonardo commented on your review about Politecnico di Torino
                        </div>
                        <div class="small text-gray-500">Leonardo Morris · 1d</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="{{ url_for('static',filename='img/undraw_profile_3.svg') }}"
                            alt="">
                        <div class="status-indicator bg-warning"></div>
                    </div>
                    <div>
                        <div class="text-truncate">
                            Tommaso commented on your review about Politecnico di Torino
                        </div>
                        <div class="small text-gray-500">Tommaso JP · 2d</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                            alt="">
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div>
                        <div class="text-truncate">Do you enjoy AppHello? Leave a review now!</div>
                        <div class="small text-gray-500">Odino Brigante · 2w</div>
                    </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
            </div>
        </li>

        </nav>
        <!-- Nav Item - User Information -->
        <nav class="topbar">
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"> Howdy {{ session['first name'] }}</span>

                <img class="img-profile rounded-circle"
                     src="{{ url_for('static',filename='img/undraw_profile.svg') }}"
                >
            </a>



            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                    <a class="nav-link" href="{{ url_for('editProfile', city=city, academicDegree=academicDegree, university=university, program=program, exam = exam, searchMethod=searchMethod) }}">
                         <i class="fas fa-2x fa-user"></i>
                        Edit Profile
                    </a>

                    <!--
                    working url for editProfile
                     http://127.0.0.1:5000/editProfile/All/%25/102/null/null/%20Program?
                    -->
                </a>

                <div class="dropdown-divider"></div>

                <a class="dropdown-item" href="#">
                    <a class="nav-link" href="{{ url_for('editProfile', city=city, academicDegree=academicDegree, university=university, program=program, exam=exam, searchMethod=searchMethod) }}">
                         <i class="fas fa-2x fa-cogs"></i>
                        My Reviews
                    </a>
                </a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                         <a class="nav-link" href="{{ url_for('logout') }}">
                         <i class="fas fa-2x fa-sign-out-alt"></i>
                           Log Out
                         </a>
                </a>

            </div>
        </li>
        </nav>
  {% else %}
      <span class="mr-2 d-none d-lg-inline text-gray-600 small"><a class="nav-link" href="{{ url_for('login') }}"> Please Log In</a></span>
  {% endif %}
    </ul>

</nav>
<!-- End of Topbar -->

     <div class="container-fluid">

      <div><br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
      </div>

     <!-- Search Page dynamic results -->
        {% for result in resultList %}
        <div class="row">
            <!-- Area -->

            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <div style="height: 230px">

                    <!-- Card Header - Dropdown -->
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">To leave or see reviews on this object, follow the link in its name</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Dropdown Header:</div>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>


                    <!-- Card Body -->
                    <div class="card-body">
                        {%if searchMethod == "University" %}

                            <a href="{{ url_for('resultPage', searchMethod=searchMethod,
                            city=city, academicDegree=academicDegree, university=result.idUniversity, program="null", exam = "null") }}" >
                                <img class="logo" src="{{result.staticLogo}}">{{result.display()}}</a>


                        {% endif %}

                        {%if searchMethod == "Program" %}
                            <a href="{{ url_for('resultPage', searchMethod =searchMethod,
                            city=city, academicDegree=academicDegree, program=result.courseName, university = "null", exam = "null") }}"  >{{result.display()}}</a>
                        {% endif %}

                        {%if searchMethod == "Exam"%}
                            <a href="{{ url_for('resultPage', searchMethod = searchMethod,
                            city=city, academicDegree=academicDegree, exam=result.exam, university = "null", program = "null") }}" >{{result.display()}}</a>
                        {% endif %}

                    </div>

                </div>
                </div>
            </div>

            <!-- Review Chart -->

                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Star Ratings</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>


                                <!-- Card Body -->

                                <div class="card-body">


                                    <div class="row">
                                        <div class="col-xs-12 col-md-6 text-center">
                                            <div style="height: 138px">
                                            <h1 class="rating-num">

                                                 {%if searchMethod == "University" %}
                                                        <p>{{ dictRatingReviews[result.idUniversity][0]}}</p>
                                                {% endif %}

                                                {%if searchMethod == "Program" %}
                                                        <p>{{ dictRatingReviews[result.courseName][0]}}</p>
                                                {% endif %}

                                                {%if searchMethod == "Exam" %}
                                                        <p>{{ dictRatingReviews[result.exam][0]}}</p>
                                                {% endif %}

                                            </h1>
                                            <div class="rating">
                                                <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                                </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                                </span><span class="glyphicon glyphicon-star-empty"></span>
                                            </div>
                                            <div>
                                                <span class="glyphicon glyphicon-user"></span>

                                                {%if searchMethod == "University" %}
                                                        <p>{{ dictRatingReviews[result.idUniversity][1]}} Total Reviews</p>
                                                {% endif %}

                                                {%if searchMethod == "Program" %}
                                                        <p>{{ dictRatingReviews[result.courseName][1]}} Total Reviews</p>
                                                {% endif %}

                                                {%if searchMethod == "Exam" %}
                                                        <p>{{ dictRatingReviews[result.exam][1]}} Total Reviews</p>
                                                {% endif %}

                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="row rating-desc">
                                                <div class="col-xs-3 col-md-3 text-right">
                                                    <span class="glyphicon glyphicon-star"></span>5
                                                </div>
                                                <div class="col-xs-8 col-md-9">
                                                    <div class="progress progress-striped">
                                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
                                                            aria-valuemin="0" aria-valuemax="100" style="width:

                                                            {%if searchMethod == "University" %}
                                                                    {{ dictRatingReviews[result.idUniversity][6]}}%
                                                            {% endif %}

                                                            {%if searchMethod == "Program" %}
                                                                    {{ dictRatingReviews[result.courseName][6]}}%
                                                            {% endif %}

                                                            {%if searchMethod == "Exam" %}
                                                                    {{ dictRatingReviews[result.exam][6]}}%
                                                            {% endif %}

                                                                ">
                                                            <span class="sr-only">80%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end 5 -->
                                                <div class="col-xs-3 col-md-3 text-right">
                                                    <span class="glyphicon glyphicon-star"></span>4
                                                </div>
                                                <div class="col-xs-8 col-md-9">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
                                                            aria-valuemin="0" aria-valuemax="100" style="width:

                                                            {%if searchMethod == "University" %}
                                                                    {{ dictRatingReviews[result.idUniversity][5]}}%
                                                            {% endif %}

                                                            {%if searchMethod == "Program" %}
                                                                    {{ dictRatingReviews[result.courseName][5]}}%
                                                            {% endif %}

                                                            {%if searchMethod == "Exam" %}
                                                                    {{ dictRatingReviews[result.exam][5]}}%
                                                            {% endif %}


                                                            ">
                                                            <span class="sr-only">60%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end 4 -->
                                                <div class="col-xs-3 col-md-3 text-right">
                                                    <span class="glyphicon glyphicon-star"></span>3
                                                </div>
                                                <div class="col-xs-8 col-md-9">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
                                                            aria-valuemin="0" aria-valuemax="100" style="width:

                                                            {%if searchMethod == "University" %}
                                                                    {{ dictRatingReviews[result.idUniversity][4]}}%
                                                            {% endif %}

                                                            {%if searchMethod == "Program" %}
                                                                    {{ dictRatingReviews[result.courseName][4]}}%
                                                            {% endif %}

                                                            {%if searchMethod == "Exam" %}
                                                                    {{ dictRatingReviews[result.exam][4]}}%
                                                            {% endif %}



                                                            ">
                                                            <span class="sr-only">40%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end 3 -->
                                                <div class="col-xs-3 col-md-3 text-right">
                                                    <span class="glyphicon glyphicon-star"></span>2
                                                </div>
                                                <div class="col-xs-8 col-md-9">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20"
                                                            aria-valuemin="0" aria-valuemax="100" style="width:

                                                            {%if searchMethod == "University" %}
                                                                    {{ dictRatingReviews[result.idUniversity][3]}}%
                                                            {% endif %}

                                                            {%if searchMethod == "Program" %}
                                                                    {{ dictRatingReviews[result.courseName][3]}}%
                                                            {% endif %}

                                                            {%if searchMethod == "Exam" %}
                                                                    {{ dictRatingReviews[result.exam][3]}}%
                                                            {% endif %}


                                                            ">
                                                            <span class="sr-only">20%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end 2 -->
                                                <div class="col-xs-3 col-md-3 text-right">
                                                    <span class="glyphicon glyphicon-star"></span>1
                                                </div>
                                                <div class="col-xs-8 col-md-9">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80"
                                                            aria-valuemin="0" aria-valuemax="100" style="width:

                                                            {%if searchMethod == "University" %}
                                                                    {{ dictRatingReviews[result.idUniversity][2]}}%
                                                            {% endif %}

                                                            {%if searchMethod == "Program" %}
                                                                    {{ dictRatingReviews[result.courseName][2]}}%
                                                            {% endif %}

                                                            {%if searchMethod == "Exam" %}
                                                                    {{ dictRatingReviews[result.exam][2]}}%
                                                            {% endif %}




                                                            %">
                                                            <span class="sr-only">15%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end 1 -->
                                            </div>
                                            <!-- end row -->
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>

        </div>
        {%  endfor %}
     </div>
    <!-- /.container-fluid -->
{% endblock main %}